<phpunit bootstrap="bootstrap.php">
    <php>
        <!-- Uncomment this line for run pyramidal tests only -->
        <!-- <env name="PYRAMIDAL_ONLY" value="1"></env> -->
    </php>

    <extensions>
        <extension class="Andaniel05\PyramidalTests\Extension"></extension>
    </extensions>

    <testsuites>
        <testsuite name="Main">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
